// Global /////////////////////////////////////////////////////////

main {
  padding: 3em 0;
}

.colourpicker_swatch button {
  &:focus,
  &:hover {
    .control-focus-style();
  }
}


label {
  display: block;
  margin-bottom: 2.5em;

  p:first-child {
    margin-bottom: 0.75em;
  }
}

h4 code {
  font-weight: normal;
}
