footer(role="contentinfo")
  .layout
    small ©2018
      |
      |
      a._unlink(rel="author" href="http://jasonhibbs.co.uk") Jason Mervyn Hibbs
      br
      a._unlink(rel="license" href="https://opensource.org/licenses/MIT") MIT Licence

