- var title = "ColourPicker.js";
- var short_title = "ColourPicker";
- var desc = "Colour Picker is a jQuery plugin for colour inputs";
- var author = "Jason Hibbs";
- var resources = "demo/src/";
- var cache = 12;

doctype html
<html class="no-js" lang="en">
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

title= title
include meta.pug

link(rel="stylesheet" href=resources + "css/style.css")

script.
  document.documentElement.className=document.documentElement.className.replace('no-js','js')

<!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->
<body>
